<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    @for (menu of menus; track menu) {
      @if (menu.subMenus.length>0) {

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#{{menu.name}}" aria-expanded="false" aria-controls="ui-basic">
            <i class="mdi {{menu.icon}} menu-icon"></i>
            <span class="menu-title">{{menu.name}}</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="{{menu.name}}">
            <ul class="nav flex-column sub-menu">
            @for (subMenu of menu.subMenus ; track subMenu) {
              <li class="nav-item"> <a class="nav-link" [routerLink]="subMenu.url" routerLinkActive="nav-item active" [routerLinkActiveOptions]="{exact:true}">{{subMenu.name}}</a></li>

            }
          </ul>
          </div>
        </li>


      }
      @else {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="menu.url" routerLinkActive="nav-item active" [routerLinkActiveOptions]="{exact:true}">
            <i class="mdi {{menu.icon}} menu-icon"></i>
            <span class="menu-title">{{menu.name}}</span>
          </a>
        </li>

      }
    }


  </ul>
</nav>
