<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Depo Tablosu</h4>
    
            <div class="form-group row">
                <div class="col">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button " class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#createModal">
                            <i class="ti-plus"></i>
                        </button>
                        <button type="button" class="btn btn-warning btn-sm">
                            <i class="ti-printer"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="ti-export"></i>
                        </button>
    
                    </div>
    
                </div>
                <div class="col-3">
    
                    <input [(ngModel)]="search" type="text" class="form-control" placeholder="Ara">
    
                </div>
    
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Depo Adı</th>
                            <th>Şehir</th>
                            <th>İlçe</th>
                            <th>Açık Adres</th>
                            <th>İşlemler</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        @for(depot of depots | depot:search;track depot)
                        {
                        <tr>
                            <td>**************{{depot.id.substring(30)}}</td>
                            <td>{{depot.name}}</td>
                            <td>{{depot.city}}</td>
                            <td>{{depot.town}}</td>
                            <td>{{depot.fullAddress}}</td>
                     
    
                            <td>
                                <div class="btn-group" role="group">
                                   
                                    <button (click)="get(depot)" data-bs-toggle="modal" data-bs-target="#updateModal" type="button" class="btn btn-inverse-info btn-sm">
                                        <i class="ti-pencil"></i>
                                    </button>
                                    <button (click)="delete(depot)" type="button" class="btn btn-inverse-danger btn-sm">
                                        <i class="ti-trash"></i>
                                    </button>
                                </div>
                            </td>
    
    
                        </tr>
                        }
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    </div>
    <!-- CreateModal -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Depo Kayıt</h5>
                    <button #createModalClosebtn type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="material-form " formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
                        <div class="form-group ">
                            <input type="text" [(ngModel)]="createModel.name" required="required" minlength="3" name="name">
                            <div class="invalid-feedback"></div>
                            <label for="input" class="control-label">Ad</label><i class="bar"></i>
                        </div>
        
                        <div class="row ">
                            <div class="col-6">
                                <div class="form-group">
                                    <input [(ngModel)]="createModel.city"  type="text" required="required" minlength="3" name="city">
                                    <div class="invalid-feedback"></div>
                                    <label for="input" class="control-label">Şehir</label><i class="bar"></i>
                                   
                                </div>
                            </div>
                            <div class="col-6">
    
                                <div class="form-group">
                                    <input [(ngModel)]="createModel.town"  type="text" required="required" minlength="3" name="town">
                                    <div class="invalid-feedback"></div>
                                    <label for="input" class="control-label">İlçe</label><i class="bar"></i>
                                   
                                </div>
                            </div>
                        </div>
    
    
                        <div class="form-group">
                            <textarea [(ngModel)]="createModel.fullAddress"  required="required" name="fullAddress" minlength="3"></textarea>
                            <div class="invalid-feedback"></div>
                            <label for="textarea" class="control-label">Açık Adres</label><i class="bar"></i>
                         
                        </div>
                        <button type="submit" class="btn btn-success w-100">Kaydet</button>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    <!-- UpdateModal -->
    
    
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Depo Güncelle</h5>
                    <button #updateModalClosebtn type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="material-form " formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                        <div class="form-group ">
                            <input type="text" [(ngModel)]="updateModel.name" required="required" minlength="3" name="updateName">
                            <div class="invalid-feedback"></div>
                            <label for="input" class="control-label">Ad</label><i class="bar"></i>
                        </div>
                       
                        <div class="row ">
                            <div class="col-6">
                                <div class="form-group">
                                    <input [(ngModel)]="updateModel.city"  type="text" required="required" minlength="3" name="updateCity">
                                    <div class="invalid-feedback"></div>
                                    <label for="input" class="control-label">Şehir</label><i class="bar"></i>
                                   
                                </div>
                            </div>
                            <div class="col-6">
    
                                <div class="form-group">
                                    <input [(ngModel)]="updateModel.town"  type="text" required="required" minlength="3" name="updateTown">
                                    <div class="invalid-feedback"></div>
                                    <label for="input" class="control-label">İlçe</label><i class="bar"></i>
                                   
                                </div>
                            </div>
                        </div>
    
    
                        <div class="form-group">
                            <textarea [(ngModel)]="updateModel.fullAddress"  required="required" name="updateFullAddress" minlength="3"></textarea>
                            <div class="invalid-feedback"></div>
                            <label for="textarea" class="control-label">Açık Adres</label><i class="bar"></i>
                         
                        </div>
                        <button  type="submit" class="btn btn-success w-100">Güncelle</button>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    
    
    
    
    